/* style-22.css */

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Header Styles */
  header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  /* Main Heading Styles */
  h1 {
    text-align: center;
    margin-top: 20px;
  }
  
  /* Paragraph Styles */
  p {
    text-align: center;
    margin-bottom: 10px;
  }
  
  /* Link Styles */
  a {
    color: blue;
    text-decoration: none;
  }
  
  /* Article Styles */
  article {
    margin-top: 20px;
  }
  
  /* Article Heading Styles */
  article h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  /* Article List Styles */
  article ul {
    padding-left: 20px;
  }
  
  /* Aside Styles */
  aside {
    margin-top: 20px;
  }
  
  /* Aside Heading Styles */
  aside h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  /* Aside List Styles */
  aside ul {
    padding-left: 20px;
  }
  
  /* Div Styles */
  div {
    margin-top: 20px;
  }
  
  /* Div Heading Styles */
  div h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  /* Div List Styles */
  div ul {
    padding-left: 20px;
  }
  